﻿@page
@using static ModelH.Controllers.HistroricalPersonController
@using ModelH.Controllers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="Tables&Buttons">
<div class="HPTable">
   <table class="table">
     <thead>
       <tr>
         <th scope="col">Id</th>
         <th scope="col">Birthday</th>
         <th scope="col">Date of death</th>
         <th scope="col">Country</th>
         <th scope="col">Name</th>
         <th scope="col">Surname</th>
         <th scope="col">Second Name</th>
       </tr>
     </thead>
     <tbody id="Data">
     </tbody>
   </table>
    <div>
        <button id="Info">Info</button>
        <button id = "Post">Post</button>
        <button id = "Put">Put</button>
        <button id="Del">Delete</button>
    </div>
    <br>
    <div>
        <form style="display: none" id="GetByID">
            <input type="text" name="id" id="FindById"></input> <button id="Find">Find</button>
            <label></label>
        </form>
    </div>
    <div>
        <form style="display:none" id="_post">
            <input type="text" name="id1" id="PostId" required>
            <input type="text" name="Birthday" id="PostBD" required>
            <input type="text" name="Date_of_death" id="PostDOD" required>
            <input type="text" name="Country" id="PostCountry" required>
            <input type="text" name="Name" id="PostName" required>
            <input type="text" name="Surname" id="PostSurname" required>
            <input type="text" name="Second_Name" id="PostSecond" required>
            <button id="MakeAnObjAndPostIt">Post</button>
        </form>
    </div>
   </div>
</div>