.image-warp {
  flex: 1;
}
.image-warp .logo {
  display: block;
  margin: 0px auto;
  margin-top: 107px;
}

.s-box {
  width: 580px;
  margin: 0px auto;
  position: relative;
  margin-top: -8px;
  text-align: center;
}
.s-box .s-input {
  display: block;
  border: 1px solid #ddd;
  color: rgba(0,0,0, 0.87);
  font-size: 16px;
  padding: 13px;
  padding-left: 45px;
  border-radius: 25px;
  width: 100%;
  transition: box-shadow 100ms;
  outline: none;
}
.s-box  .s-input:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05),
  0 0 2px rgba(0, 0, 0, 0.05),
  0 0 3px rgba(0, 0, 0, 0.05),
  0 0 4px rgba(0, 0, 0, 0.05),
  0 0 5px rgba(0, 0, 0, 0.05),
  0 0 4px rgba(0, 0, 0, 0.05),
  0 0 5px rgba(0, 0, 0, 0.05)
}
.s-box .search-icon {
  width: 20px;
  opacity: .4;
  position: absolute;
  top: 13px;
  left: 14px;
}
.s-box .vs-icon {
  width: 14px;
  position: absolute;
  top: 13px;
  right: 24px;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
}
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: arial, sans-serif;
}
.content_main{
  height: 100%;
  display: table-row;
}
.content{
  height: 100%;
  display: table;
}
footer {
  background: #f2f2f2;
  position: absolute;
  width: 100%;
  bottom:0;
  left: 0;
}
footer h4 {
  color: rgba(0,0,0, 0.54);
  font-size: 15px;
  line-height: 39.5px;
  font-weight: 400;
  padding-left: 29px;
  border: 1px solid #eee;
}
footer a {
  color: #5f6368;
  display: inline-block;
  padding: 12px 11.3px;
  font-size: 14px;
}
footer a:hover {
  text-decoration: underline;
}
.links {
  border-top: 1px solid #ddd;
  display: flex;
}
.link-1 {
  padding-left: 18.7px;
  flex: 1;
}
.link-2 {
  padding-right: 18.7px;
}


