
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-------------------------------------*/
body{
  width: 95%;
  background-color: #EDEEF0;
  font-family: arial;
  flex-direction: column;
}

a:hover{
  text-decoration: underline;
}
header{
  width: 100%;
  height: 42px;
  position: fixed;
  background-color: #507299;
  top:0;
}

.Wheader{
  margin: 0px auto;
  width: 960px;
  height: 42px;
}
.logo{
  position: relative;
  left: 0px;
  width: 150px;
  height: 40px;
  background: url("https://downloader.disk.yandex.ru/preview/c84e2e3791f5b3f638acef7ee4cbbfa5015a179303859e18b3bb975e0a65a476/5f65369c/aQvG-emkDh56qSPwSOHxTKYaLJ5XPJ5J742COfChf0A2I8SxMYxjf_Mc_wMoxX-xC3FfSi9W76OvPwpbb99znw%3D%3D?uid=0&filename=logotype.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1920x922") no-repeat;
  background-size: 38px;
  cursor: pointer;
  float: left;
}

.search{
  margin: 7px auto;
  padding: 0px 10px 0px 30px;
  width: 220px;
  height: 27px;
  border: transparent;
  background: url("https://downloader.disk.yandex.ru/preview/dd0611d8bd1c4d42be1faec15398528790ca106de859c5667d7c36a85bf7892d/5f653be1/Z5qtgfBV9TmnAJXcrmzZlq0R3Z91qiynFrfq4p_wPcmBdyOYifdzOiA5AEfVn6eL9LWbR_Dc2FaiaHh1lRFa-Q%3D%3D?uid=0&filename=search.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=1920x861") no-repeat #31537A;
  background-position: 7px;
  border-radius: 15px;
  color: #C0CDDB;
  font-size: 12px;
  display: block;
  float: left;
}

.search:focus{
  background-color: #fff;
  color: #000;
}

.lang{
  float: right;
  color: #fff;
  font-weight: bold;
  padding: 13px 10px;
  cursor: pointer;
  font-size: 12px;
}
.lang:hover{
  background-color: #486991;
}


.title{
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
.title{
  margin-left: 250px;
  margin-top: 30px;
}
.subtitle{
  margin-left: 200px;
}
.subtitle2{
  margin-left: 50px;
}
.login{
  width: 265px;
  height: 29px;
  color: #C0CDDB;
  font-size: 12px;
  margin-left: 25px;
  margin-top: 20px;
}
.password{
  width: 264px;
  height: 29px;
  color: #C0CDDB;
  font-size: 12px;
  margin-left: 25px;
}
.Enter-button{
  float: left;
  font-weight: bold;
  color: #fff;
  background-color:#507299 ;
  padding: 13px 10px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 25px;
  width: 88px;
  height: 6px;
  text-align: center;
}
.Enter-button:hover {
  background-color: #486991;
}
.Forgot-Password{
  float: left;
  font-weight: bold;
  color: #507299;
  padding: 13px 10px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 25px;
}
.auth-buttons{
  display: flex;
}
.imgaaa {
  margin-left: 253px;
}
.aaa{
  width: 390px;
}
.useless-links{
  margin-left: 320px;
}
.auth-window{
  border-radius: 3px;
  margin-top: 70px;
  background-color: white;
}
.useless-window{
  border-radius: 3px;
  background-color: white;
  margin-top: 15px;
  padding-right: 25px;
}
.Continue-Reg{
  color: #fff;
  font-weight: bold;
  padding: 13px 10px;
  cursor: pointer;
  font-size: 12px;
  background-color: #4bb34b;
  text-align: center;
}
.Continue-Reg:hover{
  background-color: lightgreen;
}
.Log-in-by-facebook{
  color: #fff;
  font-weight: bold;
  padding: 13px 10px;
  cursor: pointer;
  font-size: 12px;
  background-color: #1b6dd1;
  text-align: center;
}
.Log-in-by-facebook:hover{
  background-color: lightblue;
}
.aaaaaa{
  display: flex;
  text-decoration: none;
  margin-left: 20px;
}
.debil{
  margin-left: 22px;
  color: #C0CDDB;
  font-size: 12px;
  text-decoration: none;
}
.unicum{
  margin-left: 80px;
  color: #C0CDDB;
  font-size: 12px;
  text-decoration: none;
}
.idiot{
  color: #C0CDDB;
  font-size: 12px;
  text-decoration: none;
}

.text1{
  padding-left: 15px;
}
.text2{
  padding-left: 10px;
}
.Right-side{
  align-content: center;
}
.Left-side{
  align-content: center;
}
.content{
  display: flex;
}
.vpervie{
  text-align: center;
  padding-top: 17px;
}
.Moment{
  text-align: center;
}
.reg-text{
  width: 264px;
  height: 29px;
  color: #C0CDDB;
  font-size: 12px;
  margin-left: 25px;
  display: block;
}
.select{
  display: flex;
  margin-left: 50px;
}
.month{
  margin-left: 10px;
  height: 29px;
  color: #C0CDDB;
  font-size: 12px;
}
.year{
  margin-left: 10px;
  height: 29px;
  color: #C0CDDB;
  font-size: 12px;
}
.day{
  height: 29px;
  color: #C0CDDB;
  font-size: 12px;
}
.ultra-useless-window{
  border-radius: 3px;
  background-color: white;
  text-align: center;
  padding-right: 5px;
}
.link-to-learn-more{
  text-align: center;
  text-decoration: none;
}
.uuw-content{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #C0CDDB;
  font-size: 12px;
}
.line{
  color:grey;
  margin-left: 250px;
  width:1010px
}
.footer{
  margin-left: 250px;
  width:1010px;
  top:0;
  position: absolute;
}
.footer-content{
  margin-left: 250px;
  width:1010px;
  color: #C0CDDB;
  font-size: 15px;
  display: flex;
  text-decoration: none;
}
.second-block{
  margin-left: 100px;
}
.third-block{
  margin-left: 100px;
}
.reg{
  padding-left: 26px;
}
.links{
  text-decoration: none;
}
.links.hover{
  text-decoration: underline;
}
.mobile-logo{
  height: 15px;
  width: 15px;
}
